<%- include("../includes/starter.ejs") %> 

</head>
<body>
    <%- include("../includes/header.ejs")  %> 
    <main>
        <div class="w-50 mx-auto my-3">
            <h1 class="text-center mb-2">
                Add Product
            </h1>
            <form action="/add-product" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" cols="80" rows="5" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="imgUrl" class="form-label">Image Url</label>
                    <input type="text" class="form-control" name="imgUrl" id="imgUrl">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" name="price" id="price" min="0">
                </div>
                <button type="submit" class="btn btn-primary">Add Product</button>

            </form>
        </div>
    </main>

<%- include("../includes/ender.ejs") %> 
