<%- include("./includes/starter.ejs") %> 

</head>
<body>
    <%- include("./includes/header.ejs")  %> 
<main class="text-center mt-5">
    <img class="w-50" src="/images/error.png" alt="x"/>
</main>
<%- include("./includes/ender.ejs") %> 
